body {
    background-color: #C8E4E7;
    font-family: var(--main-fonts);
    line-height: 160%;
    overflow-x: hidden;
}

/* variables */
:root {
    --main-fonts: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

/* resetting */
html {
    box-sizing: border-box;
    font-size: 16px;
}

code {
    display: inline-block;
    padding: 0.2em 0.7em;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 0.2em 0.2em;
    font-weight: bold;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 2px 0px #ddd;
    color: #222;
    font-family: consolas;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

.highlight-one {
    display: inline-block;
    position: relative;
    font-weight: bold;
    z-index: 1;
}

.highlight-one:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #C8E4E7;
    z-index: -1;
}

.highlight-two {
    display: inline-block;
    position: relative;
    font-weight: bold;
    z-index: 1;
}

.highlight-two:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #febbbbbb;
    z-index: -1;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper_nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #C8E4E7;
    z-index: 9999954;
}

.wrapper_nav .inner_nav {
    max-width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.wrapper_nav .inner_nav > .grid_inner_nav {
    flex: 1;
}

.wrapper_nav .inner_nav > .grid_inner_nav h3 {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-indent: -2.3em;
}

.wrapper_nav .inner_nav > .grid_inner_nav h3 span {
    background-color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 0.4em 0.9em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.wrapper_nav .inner_nav > .grid_inner_nav ul {
    counter-reset: navigation;
}

.wrapper_nav .inner_nav > .grid_inner_nav ul li {
    display: block;
    font-size: 2.1em;
    line-height: 180%;
}

.wrapper_nav .inner_nav > .grid_inner_nav ul li:before {
    counter-increment: navigation;
    content: counter(navigation, decimal-leading-zero);
    position: absolute;
    margin-left: -1.9em;
    color: #264a47;
    font-weight: bold;
}

.wrapper_nav .inner_nav > .grid_inner_nav ul li a {
    color: #111;
}

nav#btn-nav {
    position: absolute;
    right: 3vw;
    top: 5vh;
    z-index: 999;
    width: 95px;
    height: 70px;
    cursor: pointer;
}

nav#btn-nav .lined-nav {
    position: relative;
    padding: 0.9em 1em;
}

nav#btn-nav .lined-nav > span {
    display: block;
    height: 4px;
    background-color: #222;
}

nav#btn-nav .lined-nav > span:first-child {
    width: 100%;
    margin: 0.7em 0;
}

nav#btn-nav .lined-nav > span:nth-child(2) {
    width: 70%;
    margin: 0.7em 0;
}


header#main-header {
    width: 100%;
    height: 100vh;
}

header#main-header .inner_header {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

header#main-header .inner_header {}

header#main-header .inner_header > .left-section {
    position: relative;
    display: flex;
    flex: 45%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 3em 2em;
}

header#main-header .inner_header > .left-section .body_text {
    position: relative;
    max-width: 550px;
    font-size: 1.05em;
    line-height: 170%;
    transform: translate(0%, -30%);
    z-index: 999;
    backface-visibility: visible;
}

header#main-header .inner_header > .left-section .body_text strong {
    color: #264a47;
}

header#main-header .inner_header > .left-section .body_text h2 {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

header#main-header .inner_header > .left-section nav {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #febbbbbb;
}

header#main-header .inner_header > .left-section nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 2em;
}

header#main-header .inner_header > .left-section nav ul li {
    padding: 2.5em 0;
    margin: 0 2em;
}

header#main-header .inner_header > .left-section nav ul li a {
    color: #8e3131;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

header#main-header .inner_header > .left-section nav ul li a span {
    color: #111;
    font-weight: bold;
}

header#main-header .inner_header > .right-section {
    display: flex;
    align-items: flex-end;
    background-color: #C8E4E7;
    flex: 35%;
}

header#main-header .inner_header > .right-section .inner_right_section {}

header#main-header .inner_header > .right-section .inner_right_section .btn-work {
    display: block;
    font-weight: bold;
    padding: 3.05em 3em;
    background-color: #111;
    color: #fff;
    text-decoration: none;
}

header#main-header .inner_header > .right-section .inner_right_section .btn-work svg {
    width: 25px;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-left: -0.5em;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

main#main_work {
    padding: 5em 4em;
    background-color: #eee;
}

main#main_work .inner_main-work {
    max-width: 1200px;
    margin: 0 auto;
    counter-reset: section;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

main#main_work .inner_main-work > .grid-main {
    position: relative;
    margin: 2.5em 2.5em 2.5em 7em;
}

main#main_work .inner_main-work > .grid-main:before {
    position: absolute;
    left: -2em;
    top: 0.2em;
    font-size: 3em;
    counter-increment: section;
    color: #555;
    font-weight: bold;
    content: counter(section, decimal-leading-zero);
}

main#main_work .inner_main-work > .grid-main img {
    margin-bottom: 1em;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.08);
}

main#main_work .inner_main-work > .grid-main h1 {
    margin-bottom: 0.5em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: left;
}

main#main_work .inner_main-work > .grid-main .btn-go {
    display: block;
    color: #8e3131;
    font-weight: bold;
    width: 200px;
    margin: 2em 0em 2em 0;
    padding: 0.6em 1em;
    text-align: center;
    background-color: #FEBBBB;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

main#main_work .inner_main-work > .grid-main .btn-go:hover {
    background-color: #222;
    color: #fff;
}

main#main_work .inner_main-work > .grid-main .btn-go svg {
    vertical-align: middle;
    margin-left: 1em;
    width: 25px;
}

main#main_work .inner_main-work > .grid-main a:not(.btn-go) {
    color: #111;
    font-weight: bold;
    border-bottom: 3px solid #264a47;
}

footer {
    text-align: center;
    padding: 9em 3em;
    font-size: 1.1em;
    background-color: #fff;
}

footer h1 {
    font-weight: bold;
    margin-bottom: 0.7em;
}

footer a {
    color: #444;
    font-size: calc(22px + 0.45vw);
}

footer ul {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 1em 0 1em;
}

footer ul li a svg {
    width: 30px;
}

/* animation */
@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* about page */
main#about-p {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5em;
}

main#about-p .inner_image {
    position: absolute;
    left: 45%;
    top: 50%;
    filter: grayscale(100%);
    transform: translate(-50%, -50%);
    background-image: url(img/y.jpg);
    background-size: cover;
    width: calc(100% / 2 + 20px);
    height: 60vh;
    z-index: -1;
    -webkit-animation: fadein 6s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s;
    /* Firefox < 16 */
    -ms-animation: fadein 6s;
    /* Internet Explorer */
    -o-animation: fadein 6s;
    /* Opera < 12.1 */
    animation: fadein 6s;
}

main#about-p .inner_about-p {
    margin: 20% auto;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 9999;
}

main#about-p .inner_about-p > .grid-about .profile-p {
    display: none;
}

main#about-p .inner_about-p > .grid-about {

    padding: 2em 2em;
    line-height: 170%;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

main#about-p .inner_about-p > .grid-about h1 {
    line-height: 130%;
}

main#about-p .inner_about-p > .grid-about:last-child {
    /*  ....  */
}

main#about-p .inner_about-p > .grid-about a {
    color: #111;
    font-weight: bold;
    border-bottom: 2px solid #111;
}

section.section_about-p {
    padding: 6em 3em 4em 3em;
    background-color: #eee;
}

section.section_about-p .inner_section-about {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

section.section_about-p .inner_section-about > .grid_section-about {
    flex: 50%;
}

section.section_about-p .inner_section-about h3 {
    font-weight: bold;
    margin: 1.2em 0 0.3em 0;
}

section.section_about-p .inner_section-about ul {
    font-size: 1.1em;
}

section.section_about-p .inner_section-about h2 {
    font-weight: bold;
    font-size: 2.5em;
}

section.section_about-p .inner_section-about ul li {
    margin-bottom: 0.2em;
}

section.section_about-p .inner_section-about sup {
    background-color: #C8E4E7;
    padding: 0.3em 0.6em;
    font-size: 0.85em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

section.section_exp {
    padding: 0em 4em 6em 4em;
    background-color: #eee;
}

section.section_exp .inner_section-exp {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

section.section_exp .inner_section-exp > .grid-exps:first-child {
    flex: 40%;
}

section.section_exp .inner_section-exp > .grid-exps:last-child {
    flex: 60%;
}

section.section_exp .inner_section-exp > .grid-exps h2 {
    font-weight: bold;
    font-size: 2.5em;
}

section.section_exp .inner_section-exp > .grid-exps h3 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

section.section_exp .inner_section-exp > .grid-exps ul {}

section.section_exp .inner_section-exp > .grid-exps ul li {
    position: relative;
    margin: 0 0 0 1.1em;
}

section.section_exp .inner_section-exp > .grid-exps ul li:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 9px;
    width: 8px;
    height: 8px;
    background-color: #43a8b4;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

section.section_exp .inner_section-exp > .grid-exps .year-exp {
    font-weight: bold;
    margin-bottom: 0.9em;
}

section.section_exp .inner_section-exp > .grid-exps .year-exp span {
    background-color: #fafafa;
    padding: 0.1em 0.6em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

/* responsive css */

@media screen and (max-width:1024px) {

    nav#btn-nav {
        display: none;
    }

    main#about-p {
        position: relative;
        width: 100%;
        height: auto;
        padding: 5em;
        font-size: 0.9em;
    }

    main#about-p .inner_image {
        display: none;
    }

    main#about-p .inner_about-p {
        display: grid;
        grid-template-columns: 1fr !important;
        transform: translateY(0%);
        margin: 0% auto;
    }

    main#about-p .inner_about-p > .grid-about {
        padding: 1em !important;
    }

    main#main_work .inner_main-work {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0em;
    }

    main#main_work .inner_main-work > .grid-main {
        position: relative;
        margin: 2em;
        font-size: 0.9em;
    }

    main#main_work .inner_main-work > .grid-main:before {
        display: none;
    }
}

@media screen and (max-width:640px) {
    main#about-p {
        padding: 2em;
    }
    
    main#about-p .inner_about-p > .grid-about .profile-p {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        filter: grayscale(100%);
        margin-top: 0em;
        margin-bottom: 2em;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    main#main_work {
        padding: 1em;
    }

    footer {
        padding: 4em 2em;
    }
}